<div class="agents-table">
  <div class="header">
    <div class="agent">
      <div>Agent ID</div>
      <div class="divider"></div>
    </div>
    <div class="country">
      <div>Country</div>
      <div class="divider"></div>
    </div>
    <div class="address">
      <div>Address</div>
      <div class="divider"></div>
    </div>

    <div class="date">
      <div>Date</div>
    </div>
  </div>
  <div class="agent-row" *ngFor="let agent of agentList | sortByDate">
    <div class="agent">{{agent.agent}}</div>
    <div class="country">{{agent.country}}</div>
    <div class="address">{{agent.address}}</div>
    <div class="date">{{agent.date }}</div>
  </div>
  <div class="table-footer">
    <div>{{ agentList && agentList.length }} missions</div>
  </div>
</div>


<div class="summery"> The country with most isolated agents is:
  <span class="country">{{countryOccurrences.country}}</span>
  with an isolation degree of {{countryOccurrences.occurrences}}</div>
